body {
  line-height: 1.0;
}

body,
h1,
h2,
p {
  margin: 0;
}

li {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

.zoom {
  transition: 0.5s;
}

.zoom:hover {
  transform: scale(1.3, 1.3);
}

button:focus {
  outline: none;
}

.scrollable {
  overflow: scroll;
  width: 100%;
  height: 100%;
}

.scrollable::-webkit-scrollbar {
  width: 8px;
}


.scrollable::-webkit-scrollbar-track {
  background: rgba(#defcf9, 0.1);
  border: none;
}

.scrollable::-webkit-scrollbar-thumb {
  background: rgba(#defcf9, 0.1);
  border-radius: 8px;
  box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.8);
}



/* 配色 */
.base-color {
  background-color: #222831;
  color: #fff;
}

.main-color {
  background-color: #393e46;
  color: #fff;
}

.sub-color {
  background-color: #00adb5;
  color: #000;
}

.accent-color {
  background-color: #defcf9;
}

/* header */

.side-menu .logo-item {
  padding: 8px 0;
  display: flex;
  justify-content: center;
}

.side-menu .logo-title {
  padding: 8px 0;
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  display: inline-block;
  transition: 0.5s;
  overflow: hidden;
  position: relative;
}

.side-menu .logo-title::after,
.menu-items .menu-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transform: translate(-100%, 0);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
  content: "";
}


.side-menu .logo-title:hover::after,
.menu-items .menu-item:hover::after {
  transform: translate(0, 0);
}

.menu-list {
  display: flex;
}

.menu-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.menu-items li {
  width: 100%;
  height: 90px;
  display: flex;
  text-align: center;
}

.menu-items .menu-item {
  width: 100%;
  display: block;
  margin: auto 0;
  line-height: 60px;
  color: #fff;
  transition: 0.5s;
  position: relative;
}



/* main */
main .main-inner {
  overflow: hidden;
}


main .row {
  justify-content: center;
}

.main-content {
  height: 100vh;
  margin: 12px;
  justify-content: center;
  position: relative;
}

.main-content .title {
  padding: 10px;
  font-weight: 800;
}

.post-list .post {
  border: 2px solid #000;
  border-radius: 30px;
  margin: 5px 0;
  padding: 20px;
  position: relative;
}

.post-list .post .user a {
  color: #000;
}

.post-list .post .user a span {
  padding: 8px;
  margin-bottom: 4px;
  border-radius: 20px;
}

.post-list .post .delete {
  position: absolute;
  top: 15px;
  right: 25px;
}

.post-list .post .delete a .fa-times {
  color: #000;
}

/* いいねボタン */
.post-list .post .btn-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.post-list .post .prev-like-btn,
.post-list .post .like-btn {
  transition: 0.5s;
}

.post-list .post .prev-like-btn,
.post-list .post .reply-btn {
  color: #cadefc;
}

.post-list .post .like-btn,
.post-list .post .prev-like-btn:focus .far {
  color: red;
}

.post-list .post .reply-btn:focus {
  color: blue;
}

.post-list .post .prev-like-btn .like-num,
.post-list .post .like-btn .like-num {
  margin-left: 10px;
}

.post-list .post .prev-like-btn .fa-heart,
.post-list .post .like-btn .fa-heart {
  transition: 0.2s;
}

.post-list .post .prev-like-btn:focus .far,
.post-list .post .like-btn:focus .fas {
  transform: scale(1.5, 1.5);
}

/* 入力フォーム */

.post-form {
  height: 200px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: black 5px solid;
  border-radius: 20px;
  position: fixed;
  bottom: 5px;
  z-index: 2;
}

.post-form form {
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: center;
}

.post-form .errorlist,
.post-form form p label,
.post-form form input + p {
  display: none;
}

.post-form form p,
.post-form form input {
  margin: 0;
}

.post-form form p {
  width: 100%;
  margin-top: 8px;
  position: absolute;
  top: 8px;
  left: 0;
  margin-top: 8px;
}

.post-form p textarea {
  width: 100%;
  padding: 4px;
  background-color: #00adb5;
  border: none;
  outline: none;
}

.post-form form .post-btn {
  height: 40px;
  width: 100px;
  outline: none;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 2px #00adb5;
  position: absolute;
  bottom: 8px;
}

.post-form form .post-btn:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

/* プロフィール */

.profile-content {
  height: 100%;
}

.profile-content .title {
  margin-bottom: 40px;
  padding: 10px;
}

.profile-content .btn {
  float: right;
}

.profile-content .follower-content {
  width: 100%;
  height: 180px;
  margin-top: 180px;
}

.profile-content .followee-content {
  width: 100%;
  height: 180px;
  margin-top: 200px;
  margin-bottom: 180px;
}

.profile-content .follower-content .follower-num,
.profile-content .followee-content .followee-num {
  color: #defcf9;
  margin-left: 12px;
}

.profile-content .follower-content .follower-members,
.profile-content .followee-content .followee-members {
  padding: 0;
}

.profile-content .follower-content .follower-member,
.profile-content .followee-content .followee-member {
  border: #000 2px solid;
  border-top: none;
  margin: 0 12px;
  background-color: #00adb5;
}

.profile-content .follower-content .follower-member a,
.profile-content .followee-content .followee-member a {
  display: block;
  padding: 8px;
  color: #000;
}


.profile-content .follower-content .follower-member:first-child,
.profile-content .followee-content .followee-member:first-child {
  border: #000 2px solid;
}

.profile-content .post-list {
  margin-top: 200px;
}
