body {
  margin: 0;
}

h1,
h2 {
  margin: 0;
}

li {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

button:focus {
  outline: none;
}

.top .top-content,
.signup-content,
.login-content,
.loggedout-content {
  height: 100vh;
  background-color: #393e46;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.top .top-content .top-title,
.signup-content .signup-title,
.login-content .login-title,
.loggedout-content .logged-title {
  margin-bottom: 20px;
  letter-spacing: 2px;
  font-weight: 800;
  color: white;
}

.top .top-content .btn,
.signup-content .create .form-group .btn,
.signup-content .back-btn,
.signup-content .regist-btn,
.login-content .btn,
.loggedout-content .btn {
  background-color: #222831;
  color: white;
  width: 200px;
  margin: 20px 0;
  padding: 20px;
  border-radius: 80px;
  transition: 0.5s;
  border: none;
}


.top .top-content .btn:hover,
.signup-content .create .form-group .btn:hover,
.signup-content .back-btn:hover,
.signup-content .regist-btn:hover,
.login-content .btn:hover,
.loggedout-content .btn:hover  {
  color: #222831;
  background-color: white;
  transform: scale(1.1, 1.1);
}

.signup-content .back-btn:focus,
.signup-content .regist-btn:focus {
  outline: none;
}

.signup-content .confirm-desc {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 500;
}

