{% extends 'app_base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-6 main-content post-list">
      <h4 class="home-title">返信</h4>
      <div class="post sub-color">
        <div class="user"><a href={% url 'user:profile' main_post.user.id %}><span class="accent-color">{{main_post.user}}</span></a></div>
        <p class="ml-3 mt-3">{{ main_post.text }}</p>
      </div>
      {% for reply in replies %}
        <div class="post sub-color">
          <div class="user"><a href={% url 'user:profile' reply.user.id %}><span class="accent-color">{{reply.user}}</span></a></div>
          <p class="ml-3 mt-3">{{ reply.text }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="post-form sub-color col-6">
      <form method="POST" action="{% url 'post:reply' main_post.id %}" class="">
        {% csrf_token %}
        {{form.as_p}}
        <input class="post-btn accent-color" type="submit" value="投稿する">
      </form>
    </div>
  </div>
</div>

{% endblock %}
